/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Root*/
:root{
  --clr-primary-very-dark-blue: hsl(233 47% 7%);
  --clr-primary-dark-desaturated-blue: hsl(244, 38%, 16%);
  --clr-primary-Soft-violet: hsl(277, 64%, 61%);

  --clr-neutral-White: hsl(0, 0%, 100%);
  --clr-neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-main-header: var(--fs-800);
  --fs-paragraph: var(--fs-400);
  --fs-headings: var(--fs-600); 

}

/*general styling*/

body{
  padding: 2em 1em;
  min-height: 100vh;
}

header{
  position: relative;
}

header::after{
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-color: var(--clr-primary-Soft-violet);
  opacity: .8;
  mix-blend-mode: multiply;
}

img{
  mix-blend-mode: inherit;
}
.info__content{
  text-transform: uppercase;
}

:where(.info__content:not(:last-child)){
  padding-bottom: 1.5em;
}

/*utility classes*/

.container{
    width: 85%;
    margin: 0 auto;
}

.text-align-center{ text-align: center;}

.f-big{font-size: var(--fs-900);}

.f-medium{font-size: var(--fs-700);}

.flex{display: flex;}

.direction{flex-direction: column;}

@media (min-width: 50em){
  
}

.horizontal-center{ justify-content: center;}

.vertical-center{ align-items: center;}

.bg-main{background-color:var(--clr-primary-very-dark-blue)}

.bg-card{background-color: var(--clr-primary-dark-desaturated-blue);}

.accent{ color: var(--clr-primary-Soft-violet);}

.heading-clr-white{ color: var(--clr-neutral-White);}

.text-transparent{ color: var(--clr-neutral-slightly-transparent-white);}

.text-center {text-align: center;}

.padding-300{ padding-bottom: .8em;}

.padding-400{ padding-bottom: 1em;}

.padding-500{ padding-bottom: 1.5em;}

.padding-600{ padding-bottom: 2em;}

.padding-block-400{ padding-block: 3em;}

.grid{display: grid;}

.grid-center{place-items: center;}
